## This file was created by ansible refstack_install role.    ##
## Any changes will be overwritten when the role is run again ##

# For details see:
#
#   https://docs.openstack.org/tempest/latest/sampleconf.html


[auth]
test_accounts_file = {{ refstack_install_dir }}/etc/accounts.yaml
use_dynamic_credentials = true
default_credentials_domain_name = Default
admin_domain_name = Default
admin_username = {{ refstack_openstack_admin_username }}
admin_project_name = {{ refstack_openstack_project_name }}
admin_password = {{ refstack_openstack_admin_password }}

[compute]

# Lower version of the test target microversion range. The format is
# 'X.Y', where 'X' and 'Y' are int values. Tempest selects tests based
# on the range between min_microversion and max_microversion. If both
# values are not specified, Tempest avoids tests which require a
# microversion. Valid values are string with format 'X.Y' or string
# 'latest' (string value)
min_microversion = 2.1

# Upper version of the test target microversion range. The format is
# 'X.Y', where 'X' and 'Y' are int values. Tempest selects tests based
# on the range between min_microversion and max_microversion. If both
# values are not specified, Tempest avoids tests which require a
# microversion. Valid values are string with format 'X.Y' or string
# 'latest' (string value)
max_microversion = latest

# These should refer to two distinct images (different names and IDs) but both can be copies of Cirros
# which is very small and fast:
image_ref = {{ refstack_openstack_cirros_image_id }}
image_ref_alt = {{ refstack_openstack_cirros_alt_image_id }}

# These two small flavors are created by openstack-ansible tempest role:
flavor_ref = {{ refstack_flavor_ref }}
flavor_ref_alt = {{ refstack_flavor_ref_alt }}

fixed_network_name = {{ refstack_fixed_network_name }}

[compute-feature-enabled]
resize = true

[identity]
uri_v3 = {{ refstack_openstack_keystone_public_url }}
auth_version = v3
v3_endpoint_type = publicURL
disable_ssl_certificate_validation = True

[identity-feature-enabled]
api_v2 = false
api_v3 = true

[network]
project_network_cidr = {{ refstack_project_network_cidr }}
project_network_mask_bits = {{ refstack_network_mask_bits }}

# This public external network is created by openstack-ansible tempest role:
floating_network_name = {{ refstack_openstack_public_net_name }}
public_network_id = {{ refstack_openstack_public_net_id }}

[object-storage]
operator_role = SwiftOperator
reseller_admin_role = ResellerAdmin

[oslo_concurrency]
lock_path = /tmp/tempest

[service_available]
cinder = true
neutron = true
glance = true
swift = {{ refstack_swift_available }}
nova = true
heat = false

[validation]
run_validation = {{ refstask_run_validation }}
connect_method = floating
auth_method = keypair
image_ssh_user = cirros

[service-clients]

#
# From tempest.config
#

# Timeout in seconds to wait for the http request to return (integer
# value)
http_timeout = 20

{% if refstack_http_proxy is defined %}
# Specify an http proxy to use. (string value)
proxy_url = {{ refstack_http_proxy }}
{% endif %}
